* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
}

body {
  background-color: #f3f5f9;
}

.wrapper {
  display: flex;
  position: relative;
  overflow: auto;
}

.wrapper .sidebar {
  width: 200px;
  height: 100%;
  background: #474a59;
  padding: 30px 0px;
  position: fixed;
}

.wrapper .sidebar h2 {
  color: #e9e3e3;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

.wrapper .sidebar ul li {
  padding: 20px;
  color: #e3e1ee;
  border-bottom: 1px solid #bdb8d7;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  border-top: 1px solid rgba(255, 255, 255, 0.05);
}

.wrapper .sidebar ul li a {
  color: #e6e3f5;
  display: block;
}
.wrapper .sidebar ul li a .fas {
  width: 25px;
}

.wrapper .sidebar ul li:hover {
  background-color: #596874;
}

.wrapper .sidebar ul li:hover a {
  color: #111010;
}

.wrapper .main_content {
  width: 100%;
  margin-left: 200px;
  height: 10vh;
  overflow: hidden;
}

.wrapper .main_content .header {
  padding: 20px;
  background: #fff;
  color: #1d1c1c;
  font-size: 20px;

  border-bottom: 1px solid #e0e4e8;
}

.icon {
  align-items: right;
  text-align: right;
  padding-right: 20px;


  margin-top: -2rem;
}
.icon .fa {
  font-size: 28px; /* Adjust the font size as needed */
}

.icon .fas {
  
  font-size: 28px; /* Adjust the font size as needed */
}
.wrapper .sidebar ul li i {
  margin-right: 10px; /* Adjust the margin as needed */
}
.search {
  display: flex; /* Use flexbox to arrange items in a row */
  justify-content: flex-start; /* Align items to the left side */
  gap: 2rem; /* Adjust the gap between items */
  padding: 20px;
  margin-left: 16rem;
}

.searchcontent {
  margin-top: 1rem;
}
.searchcontent input[type="text"] {
  padding: 22px;
  width: 30%;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
}

.searchbutton {
  margin-left: 60rem;
  margin-top: -5.6rem;
  justify-content: space-between;
}
/* Assuming .table is the class for your table container */
.child_render{
  position: absolute;
  width:70%;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);
}
.child_render .table {
  
  position: absolute;
  width: 100%;
  height: auto;
  left: 55%;
  top: 60%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
}

table {
  width: 100%;
  border-collapse: collapse;

}

table th,
table td{
  padding: 9px;
  font-size: 17px;

  text-align: center;
  border-bottom: 1px solid #ddd;
}

table th {
  font-size: 18px;
  line-height:1.5rem ;
  background-color: #b1b7b6;
}

table tbody tr:nth-child(even) {
  background-color: #f3eeee;
}
.icon-btn {
  border: none;
  background: none;
  cursor: pointer;

}

.icon-btn i {
  font-size: 1.2em; 
  color: #222324; 
  margin: 0; 
}

/* ////////////modal */

.profile-details {
  margin-top: 20px;
  margin-left: 8rem;

    flex-direction: column;

  padding: 20px;
 
}

.profile-details p {
  margin-bottom: 10px;
  font-size: 17px;
  font-weight: 550;
  
}



.modal-overlay {
  position: fixed; /* Use either 'fixed' or 'absolute', not both */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  white-space: nowrap;
}

.modal {
  
  padding: 20px;
  width:34%;
  height:70%;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Adding a subtle box shadow */
}


.profileiconmodal {
  height: 28px;
  width: 28px;
  position: absolute;
  top: 10px;
  right: 9rem;
}

.card {
  background-image: linear-gradient(144deg,#edd2f2, #bab7cc 60%,#dec1ea);
  border: none;
  border-radius: 10px;
  position: relative;
  height:100%;
  margin: auto;
  font-family: inherit;
}


.card .job {
  font-weight: 400;
  color: 000;
  margin-left: 11.5rem;
  display: block;
  padding-top: 5px;
  font-size: 2em;
}


.card button {
  padding: 10px 20px;
  display: block;
  margin: auto;
  border-radius: 10px;
  border: none;
  margin-top: 50px;
  background: #e8e8e8;
  color: #111111;
  font-weight: 600;
  margin-left: 0%;
}
.usermodal {
  margin-top:1rem;
  width: 100px; /* Adjust the width as needed */
  height: 100px; /* Adjust the height as needed */
  border-radius: 50%; /* To make it a circle */
  margin-bottom: 2px;
}
.card button:hover {
  background: #212121;
  color: #ffffff;
}
.card-border-top{
margin-left: 11rem;

}
/* /////////token///////// */

.form_main {
  width: 75vw;
  display: flex;
 margin-top:15rem;
  flex-direction: column;
  align-items: center;
  height:70vh;
  left:0px;
  justify-content: center;
  background-color: rgb(249, 245, 245);
  padding: 30px 30px 30px 30px;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.062);
  position: relative;
  overflow: hidden;
}

.form_main::before {
  position: absolute;
  content: "";
  width: 500px;
  height: 500px;
  background-image: linear-gradient(to top, #505285 0%, #585e92 12%, #65689f 25%, #7474b0 37%, #7e7ebb 50%, #8389c7 62%, #9795d4 75%, #a2a1dc 87%, #b5aee4 100%);
  transform: rotate(45deg);
  left: -10rem;
  bottom: 2px;
  z-index: 1;
  border-radius: 30px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.082);
}

.heading {
  font-size: 2em;
  color: 000;
  font-weight: 700;
  margin: -11px 0 20px 0;
  z-index: 2;
}

.inputContainer {
  width: 30rem;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  margin-left:23rem;
}



.inputField {
  width: 100%;
  height: 30px;
  background-color: transparent;
  border: none;

  border-bottom: 1px solid rgb(20, 19, 19);
  margin: 10px 0;
  color: black;
  font-size: 1rem;
  font-weight: 500;
  box-sizing: border-box;
  padding-left: 10px;
}

.inputField:focus {
  outline: none;
  border-bottom: 2px solid rgb(107, 101, 111);
}

.inputField::placeholder {
  color: rgb(19, 18, 18);
  font-size: 1em;
  font-weight: 500;
}

#button {
  z-index: 2;
 left:30rem;
  position: relative;
  width: 20%;
  border: none;
  background-color:#65689f;
  height: 50px;
  color: white;
  font-size: .8em;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 10px;
  cursor: pointer;
}

#button:hover {
  background-color: rgb(67, 62, 81);
}
/* addCropStyles.css */
/* Add this CSS for button styling */
.inputButton {
  z-index: 2;
  left:30rem;
   position: relative;
   width: 20%;
   border: none;
   background-color:#65689f;
   height: 50px;
   color: white;
   font-size: .8em;
   font-weight: 500;
   letter-spacing: 1px;
   margin: 10px;
   cursor: pointer;
}

.inputButton:hover {
  background-color: rgb(67, 62, 81);
}

/*Magic card*/

.cardh1{
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  margin-top: 9rem;
  text-align: center;

}
.card-2 {
  position: relative;
  width: 450px;
  height: 350px;
  background-image: linear-gradient(to top,rgb(133, 133, 228),#6c9dde);
  border-radius: 30px;
  border: 2px solid white;
  overflow: hidden;
  margin-left: 18rem;
  margin-top: 1rem;

}
.card2{
  font-size: large;
  position: relative;
  margin-left:20rem;
  margin-top: 10rem;
  line-height: 3rem;
  display:flex;
  width:20rem;
color:black;
  
}

.card3{
  font-size: large;
  margin-left:20rem;
  margin-top:13rem;

  width:20rem;
  
}
.h1-circle {
  position: absolute;
  right: 200px;
  border-radius: 50%;
  width: 400px;

  height: 380px;
  background-image: radial-gradient(circle at center, #9aaee7, #676dc1);
  opacity: .8;
}






.h1-circle ul li {
  list-style: none;
  color: rgb(238, 230, 230);
  font-size: 20px;
  margin: 20px;
}

#h1-circle-ul-1 {
  display: flex;
  flex: 1;
  flex-direction: column;
  position: absolute;
  top: 50px;
  left: 150px;
  transition: 500ms ease-in;
}




/* ////////////////////Yesterday///////// */

.table1 {
  position: absolute;
  width:70%;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
}

/* -------------------farmerdash */
.table2 {
  position: absolute;
  width:70%;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
}
.search1 input {
  margin-top: 2rem;
  margin-left: 27rem;
  /* width:20rem; */
}
.searchbutton1 {
  margin-top: -4.5rem;
  margin-left: 48rem;
}

.table3 {
  position: absolute;
  width:70%;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);

  border: 1px solid black;
}

/* ////////////////trader////////////// */
.table4 {
  position: absolute;
  width:100%;
  left: 55%;
  top: 45%;
  transform: translate(-50%, -50%);

  border: 1px solid black;;
}


.fa-edit, .fa-trash-alt{
  margin-right: 8px;
  width:1rem;
  color: #333;
  cursor: pointer;
}

.fa-edit:hover, .fa-trash-alt:hover, .fa-ellipsis-v:hover {
  color: #007bff; /* Change color on hover */
}
.book-token-container {
  display: flex;
  border: 1px solid black;
  border-radius: 5px;
  align-items: center;
}

.book-token-label {
  margin-right: 20px;
  color: #111010;
  width: 5rem;
}

.book-token-input {
  margin-right: 20px;
  color: black; /* Adjust the color as needed */
}
